/*CSS rules : font-family: 'Raleway', sans-serif; 
color : Blue #0065FC; lightBlue : #DEEBFF; grey : #F2F2F2 */

/* ---------------Desktop 13"--------------- */
    /* ---Icon part--- */

.icon {
    height: 15px;
    width: 15px;
}

    /* ---Search Button part--- */
#searchbar ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-left: none;
    border-right: none;
    height: 50px;
    width: 420px;
}

#search-icon {
    height: 50px;
    width: 50px;
    text-align: center;
    border: 1px solid #F2F2F2;
    justify-content: center;
    border-radius: 10% 0 0 10%;
    background-color: #F2F2F2;
}

li img {
    padding-top: 15px;
    width: 15px;
    height: 15px;
}

li input {
    height: 48px;
    width: 235px;
    border: none;
    font-size: 14px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    font-weight: bold;
    padding-left: 5px;
}

li input:focus {
    outline: none;
}

#btn-blue {
    width: 160px;
    height: 35px;
    border: 1px solid #F2F2F2;
    border-radius: 0 10px 10px 0;
    background: #0065fc;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
}

#btn-blue i {
    display: none;
}

#btn-blue:hover {
    background: #F2F2F2;
    color: #0065FC;
    cursor: pointer;
}

    /* ---Filter tag Part--- */

#filter h3 {
    font-weight: bold;
    font-size: 1.5em;
}

#filter ul {
    bottom: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: auto;
    position: relative;
    left: -5px;
}

#filter li{
    display: grid;
    grid-template-columns: 38px auto;
    position: relative;
    justify-items: center;
}

.circle {
    background-color: #DEEBFF;
    padding: 17.5px;
    border: #DEEBFF;
    border-radius: 50%;
    position: relative;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
    color: #0065fc;
    width: 10px;
    height: 10px;
    bottom: 13.5px;
    position: absolute;
}

.fa-money-bill-wave {
    left: 10px;
}

.fa-child {
    left: 12.5px;
}

.fa-heart {
    left: 11px;
}

.fa-dog {
    left: 10.5px;
    bottom: 16px;
}

li .btn-tag {
    border: 1px solid #F2F2F2;
    border-radius:35px;
    display:inline-block;
    min-width: auto;
    max-width: 120px;
    font-weight: bold;
    font-size: 64%;
    text-align: center;
    padding: 12px 12px 12px 45px;
    position: absolute;
    left: 1px;
    top: 4.5px; 
}

#filter > li p:nth-child(4) {
    width: 170px;
}

li .btn-tag:hover {
    border: 1px solid #0065FC;
    animation-delay: 2ms;
    border-radius:35px;
    display:inline-block;
    min-width: auto;
    max-width: 100px;
    font-weight: bold;
    font-size: 64%;
    color: #0065FC;
    text-align: center;
    padding: 12px 12px 12px 45px;
    position: absolute;
    left: 1px;
    top: 4.5px; 
}

    /* ---info Part--- */

.fa-info {
    font-size: 1em;
    width: 1.2em;
    text-align: center;
    padding: 2px;
    line-height: 1.9em;
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 50%;
}

 /*------------Device == iphone 8 see for validator for device-------------*/

 @media only screen and (max-width : 375px) and (max-height : 667px) and (orientation : portrait) {
        /* ---Search Button part--- */
    #searchbar h1{
        font-size: 1.2em;
        word-wrap: normal;
        margin-right: 0px;
        margin: 0 0 0 0;
        max-width: 310px;
    }
    #searchbar p {
        font-size: 1em;
        max-width: 310px;
        margin: 10px 0 0 0;
    }
    #searchbar ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border-left: none;
        border-right: none;
        max-width: 315px;
        max-height: 100px;
        margin-left: -30px;
    }

    #search-icon {
        height: 50px;
        width: 50px;
        text-align: center;
        justify-content: center;
        border-radius: 10% 0 0 10%;
    }

    li img {
        padding-top: 11px;
        /* margin-left: -5px; */
        width: 25px;
        height: 25px;
    }

    li input {
        height: 48px;
        width: 190px;
        margin-left: -32.5px;
        border: none;
        font-size: 1.2em;
        border-top: 1px solid #F2F2F2;
        border-bottom: 1px solid #F2F2F2;
        font-weight: bold;
    }

    li input:focus {
        outline: none;
    }

    #btn-blue {
        width: 50px;
        height: 35px;
        border-radius: 15px 15px 15px 15px;
        background: #0065fc;
        border: none;
        margin-left: -12.5px;
        font-weight: bold;
        text-align: center;
    }

    #btn-blue span {
        display: none;
    }

    #btn-blue i {
        display: initial;
        color: white;
        vertical-align: middle;

    }

    #btn-blue:hover {
        background: #F2F2F2;
        color: #0065FC;
        cursor: pointer;
    }

    /* ---Filter tag Part--- */

    #filter ul {
        bottom: 10px;
        grid-column: 1;
        grid-row: 2;
        display: grid;
        grid-template-columns: 182.5px 125px;
        grid-template-rows: repeat(3, 55px);
        row-gap: 5px;
        column-gap: 10px;
        white-space: nowrap;
        max-width: 310px;
        position: relative;
        left: -45px;
    }

    #filter li{
        display: grid;
        grid-template-columns: 55px auto;
        position: relative;
        justify-items: center;
    }

    #filter li:nth-child(4){
        grid-row: 3;
    }

    .circle {
        background-color: #DEEBFF;
        padding: 21px;
        border: #DEEBFF;
        border-radius: 50%;
        position: relative;
    }

    .fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
        color: #0065fc;
        width: 22px;
        height: 22px;
        bottom: 5px;
        position: absolute;
    }

    .fa-money-bill-wave {
        left: 12.5px;
    }

    .fa-child {
        left: 15px;
    }

    .fa-heart {
        left: 14px;
    }

    .fa-dog {
        left: 14px;
        bottom: 7px;
    }

    li .btn-tag {
        border: 1px solid #F2F2F2;
        border-radius: 35px;
        display:inline-block;
        min-width: auto;
        font-weight: bold;
        font-size: .9em;
        text-align: center;
        padding: 12px 12px 12px auto;
        position: absolute;
        left: 5px;
        top: 1px;
    }

    #filter > li p:nth-child(4) {
        width: 170px;
    }

    li .btn-tag:hover {
        border: 1px solid #0065FC;
        animation-delay: 2ms;
        border-radius:35px;
        display:inline-block;
        min-width: auto;
        font-weight: bold;
        font-size: 1.2em;
        color: #0065FC;
        text-align: center;
        padding: 12px 12px 12px auto;
        position: absolute;
        left: 4.4px;
        top: 1px;
    }

    /* ---info Part--- */

    #infopoint {
        grid-row: 3;
    }

    #infopoint > ul li:nth-last-child(1){
        font-size: 1em;
        word-wrap: break-word;
        max-width: 300px;
    }
    .fa-info {
        font-size: 1.2em;
        text-align: center;
        padding: 2px;
        margin-left: -30px;
        line-height: 2em;
        color: #0065FC;
        border: 1px solid #F2F2F2;
        border-radius: 50%;

    }
}

 /*-----------Media query screen 13+--------------*/

@media screen and (min-width: 1564px) {
    #searchbar ul {
        height: 125px;
        width: 800px;
    }
    ul #search-icon {
        height: 120px;
        width: 120px;
        text-align: center;
        justify-content: center;
    }
    
    ul #search-icon img {
        width: 50px;
        height: 50px;
        margin-top: 15px;
    }
        
    #searchbar li input {
        height: 125px;
        width: 450px;
        font-size: 40px;
        text-align: center;
    }
    #searchbar #btn-blue {
        width: 315px;
        height: 93px;
        font-size: 40px;
        padding-top: 35px;
        text-align: center;
    }

    #btn-blue i {
        display: none;
    }

    #filter h3 {
        font-weight: bold;
        font-size: 50px;
        /* margin-block-start: 1em;
        margin-block-end: 1em;  change*/
    }
    
    #filter ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: auto;
        position: relative;
        left: 65px;
        bottom: 44px;
    }
    
    #filter li{
        display: grid;
        grid-template-columns: 55px auto;
        position: relative;
        justify-items: center;
    }
    
    .circle {
        padding: 55px;
        border-radius: 50%;
        position: relative;
    }
    
    .fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
        color: #0065fc;
        width: 20px;
        height: 20px;
        bottom: 63px;
        position: absolute;
    }
    
    .fa-money-bill-wave {
        left: 15px;
    }
    
    .fa-child {
        left: 27px;
    }
    
    .fa-heart {
        left: 25px;
    }
    
    .fa-dog {
        left: 25px;
        bottom: 72px;
    }
    
    li .btn-tag {
        border: 1px solid #F2F2F2;
        border-radius: 55px;
        font-size: 48px;
        text-align: center;
        padding: 26px 26px 26px 145px;
        position: absolute;
        left: -55.5px;
        top: 10px; 
    }
    
    #filter > li p:nth-child(4) {
        width: 170px;
    }
    
    li .btn-tag:hover {
        border: 1px solid #0065FC;
        border-radius: 55px;
        animation-delay: 2ms;
        display:inline-block;
        min-width: auto;
        font-weight: bold;
        font-size: 50px;
        color: #0065FC;
        text-align: center;
        padding: 26px 26px 26px 145px;
        position: absolute;
        left: -28.5px;
        top: 10px; 
    }
    .fa-info {
        font-size: 40px;
        width: 1.2em;
        text-align: center;
        padding: 6px;
        line-height: 2em;
    }
}