/*CSS rules : font-family: 'Raleway', sans-serif; 
color : Blue #0065FC; lightBlue : #DEEBFF; grey : #F2F2F2 */

/*-------------------Desktop 13"------------- */
    /* --main-- */

.blue-star {
    color: #0065FC;
}

strong {
    font-style: italic;
}

    /* --card city part-- */
  
.card-city {
    grid-column-start: auto;
    display: grid;
    grid-row: 1fr 1.5fr;
    height: 200px;
    max-width: 250px;
    background: linear-gradient(-225deg, rgb(255, 255, 255) 30%, rgb(255, 255, 255) 80%);
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(189, 172, 172, 0.801);
}
  
.card-city img {
    grid-row: 1;
    width: 245px;
    height: 100px;
    justify-self: center;
    padding-top: 1px;
    border-radius: 10px 10px 0 0;
}

.card-city_body {
    grid-row: 2;
    max-height: 100px;
    padding: 0%;
    margin: 0%;
    padding-left: 10px;
    position: relative;
}
  
.card-city_body > h3 {
    font-weight: bold;
    font-size: 1em;
    position: absolute;
    top: -45px;
}

.card-city_body > p {
    position: absolute;
    top: -25px;
    left: 10px;
}

.card-city_body > ul {
    display: grid; 
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 16px);
    position: absolute;
    top: 10px;
    left: -30px;
}

.card-city_body > ul .blue-star {
    color: #0065FC;
}

  /* --card popular part-- */

.card-popular {
    display: grid;
    height: auto;
    width: auto;
    grid-template-columns: 1fr 2fr;
    background: linear-gradient(-225deg, rgb(255, 255, 255) 30%, rgb(255, 255, 255) 80%);
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(189, 172, 172, 0.801);
}

.card-popular img {
    grid-column: 1;
    vertical-align: 2px;
    object-fit: cover;
    padding: 2px;
    width: 125px;
    height: 130px;
    border-radius: 10px 0 0 10px;
}

.card-popular_body {
    grid-column: 2;
    position: relative;
}

.card-popular_body > h3 {
    font-weight: bold;
    font-size: 1.1em;
    position: absolute;
    top: -8px;
    left: 10px;
}

.card-popular_body > p {
    position: absolute;
    top: 30px;
    left: 10px;
}

.card-popular_body > ul {
    display: grid; 
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 16px);
    position: absolute;
    top: 80px;
    left: -30px;
}

.card-popular_body > ul .blue-star {
    color: #0065FC;
}

/* --card activity part-- */

#activity > div {
    border: 1px solid #ccc;
    background: linear-gradient(-225deg, rgb(255, 255, 255) 30%, rgb(255, 255, 255) 80%);
    box-shadow: 10px 10px 10px rgba(189, 172, 172, 0.801);
    border-radius: 10px;
}

#activity > div > a img {
    width: 100%;
    height: 90%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    position: relative;
}

#activity > div > .medium-card img {
    height: 82.5%;
}

#activity > div > .small-card img {
    height: 70%;
}

#activity > div > a h3 {
    font-size: 1em;
    position: relative;
    left: 12.5px;
    bottom: 8.5px;
}

/*-----------------------------------Iphone 8------------------------------------ */
@media only screen and (max-width : 375px) and (max-height : 667px) and (orientation : portrait) {
    /* --main-- */

    .blue-star {
        color: #0065FC;
    }
    
    strong {
        font-style: italic;
    }
    
        /* --card city part-- */
      
    .card-city {
        display: grid;
        grid-template-rows: 130px 150px;
        height: 198px;
        width: 365px;
        background: linear-gradient(-225deg, rgb(255, 255, 255) 30%, rgb(255, 255, 255) 80%);
        border-radius: 10px;
        margin-left: 10px;
    }
      
    .card-city img {
        grid-row: 1;
        max-width: 355px;
        height: 115px;
        object-fit: cover;
        overflow-block: initial;
        padding-top: 1px;
        padding-left: 3px;
        border-radius: 10px 10px 0 0;
    }
    
    .card-city_body {
        grid-row: 2;
        max-height: 100px;
        padding: 0%;
        margin: 10px;
        position: relative;
    }

    .card-city_body > h3 {
        font-weight: bold;
        font-size: 1em;
        position: absolute;
        left: 10px;
        top: -30px;
    }
    
    .card-city_body > p {
        position: absolute;
        left: 10px;
        top: -10px;
    }
    
    .card-city_body > ul {
        display: grid; 
        grid-template-rows: 1fr;
        grid-template-columns: repeat(5, 16px);
        position: absolute;
        left: -30px;
        top: 20px;
    }
    
    .card-city_body > ul .blue-star {
        color: #0065FC;
    }
    
      /* --card popular part-- */
    
    .card-popular {
        display: grid;
        height: auto;
        width: 305px;
        grid-template-columns: 1fr 2fr;
        background: linear-gradient(-225deg, rgb(255, 255, 255) 30%, rgb(255, 255, 255) 80%);
        border-radius: 10px;
        box-shadow: 10px 10px 10px rgba(189, 172, 172, 0.801);
        margin-left: -15px;
        margin-bottom: 10px;
    }
    
    .card-popular img {
        grid-column: 1;
        vertical-align: 2px;
        object-fit: cover;
        padding: 2px;
        width: 127px;
        height: 145px;
        border-radius: 10px 0 0 10px;
    }
    
    .card-popular_body {
        grid-column: 2;
        position: relative;
    }
    
    .card-popular_body > h3 {
        font-weight: bold;
        font-size: 1.1em;
    }
    
    .card-popular_body > p {
        position: absolute;
        top: 35px;
    }
    
    .card-popular_body > ul {
        display: grid; 
        grid-template-rows: 1fr;
        grid-template-columns: repeat(5, 16px);
    
    }
    
    .card-popular_body > ul .blue-star {
        color: #0065FC;
    }
    
    /* --card activity part-- */
    
    #activity > div {
        background: linear-gradient(-225deg, rgb(255, 255, 255) 30%, rgb(255, 255, 255) 80%);
        box-shadow: 5px 5px 5px 5px rgba(189, 172, 172, 0.801);
        border-radius: 10px;
        width: 335px;
        height: 190px;
        border: none;
    }
    
    #activity > div > a img {
        max-height: 135px;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
    }
    
    #activity > div > a h3 {
        font-size: 1em;
        max-width: 180px;
        word-wrap: break-word;
    }
}


/*-----------------------------------screen < 13"------------------------------------ */
@media only screen and (min-width: 700px) and (max-width : 1347px){
    .card-city {
        display: grid;
        grid-column-end: 2;
        grid-template-rows: 100px 150px;
        min-height: 80%;
        min-width: 90%;
        background: linear-gradient(-225deg, rgb(255, 255, 255) 30%, rgb(255, 255, 255) 80%);
        border-radius: 10px;
        box-shadow: 10px 10px 10px rgba(189, 172, 172, 0.801);
        position: relative;
    }
      
    .card-city img {
        grid-row: 1;
        width: 98%;
        height: 98%;
        justify-self: center;
        padding-top: 1px;
        border-radius: 10px 10px 0 0;
    }
    
    .card-city_body {
        grid-row: 2;
        max-height: 100px;
        padding: 0%;
        margin: 0%;
        padding-left: 10px;
    }
      
    .card-city_body > h3 {
        font-weight: bold;
        font-size: 1em;
        position: absolute;
        top: .1px;
    }
    
    .card-city_body > p {
        position: absolute;
        top: 18.5px;
        left: 10px;
    }
    
    .card-city_body > ul {
        display: grid; 
        grid-template-rows: 1fr;
        grid-template-columns: repeat(5, 16px);
        position: absolute;
        top: 59.5px;
        left: -30px;
    }
    
    .card-city_body > ul .blue-star {
        color: #0065FC;
    }
    
      /* --card popular part-- */
    
    .card-popular {
        display: grid;
        height: 120px;
        width: 120%;
        grid-template-columns: 1fr 2fr;
        background: linear-gradient(-225deg, rgb(255, 255, 255) 30%, rgb(255, 255, 255) 80%);
        border-radius: 10px;
        box-shadow: 10px 10px 10px rgba(189, 172, 172, 0.801);
        margin-left: -20px;
        margin-top: -30px;
    }
    
    .card-popular img {
        grid-column: 1;
        vertical-align: 2px;
        object-fit: cover;
        padding: 2px;
        width: 120%;
        height: 116px;
        border-radius: 10px 0 0 10px;
    }
    
    .card-popular_body {
        grid-column: 2;
        position: relative;
    }
    
    .card-popular_body > h3 {
        font-weight: bold;
        font-size: .8em;
        position: absolute;
        top: -8px;
        left: 22px;
    }
    
    .card-popular_body > p {
        position: absolute;
        font-size: 1em;
        top: 24px;
        left: 22px;
    }
    
    .card-popular_body > ul {
        display: grid; 
        grid-template-rows: 1fr;
        grid-template-columns: repeat(5, 16px);
        position: absolute;
        top: 67.5px;
        left: -18px;
    }
    
    .card-popular_body > ul .blue-star {
        color: #0065FC;
    }
    
    /* --card activity part-- */
    
    #activity > div {
        border: 1px solid #ccc;
        background: linear-gradient(-225deg, rgb(255, 255, 255) 30%, rgb(255, 255, 255) 80%);
        box-shadow: 10px 10px 10px rgba(189, 172, 172, 0.801);
        border-radius: 10px;
    }
    
    #activity > div > a img {
        width: 100%;
        height: 90%;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
        position: relative;
    }
    
    #activity > div > .medium-card img {
        height: 82.5%;
    }
    
    #activity > div > .small-card img {
        height: 70%;
    }
    
    #activity > div > a h3 {
        font-size: .6em;
        position: relative;
        left: 12.5px;
        bottom: 8.5px;
        word-wrap: break-word;
    }
}