/*-------------------Desktop 13"------------- */
   /* ---Grid part--- */

#main {
    display: grid;
    grid-template-rows: [header]75px [search]300px [location]auto [activity]auto [footer]200px;
    grid-template-columns: 50px 1fr 50px;
    width: auto;
    row-gap: 30px;
    margin-top: 40px;
}

@media only screen and (min-width: 768px) and (max-width: 1286px) {
    #main {
        display: grid;
        grid-template-rows: [header]100px [search]300px [location]auto [activity]auto [footer]200px;
        grid-template-columns: 50px 1fr 50px;
        width: auto;
        height: 90%;
        row-gap: 30px;
        margin-top: 40px;
    } 
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
     /* ---header part--- */

header {
    grid-row-start: header;
    grid-column-start: 2;
    grid-column-end: 2;
    display: grid;
    width: auto;
    grid-template-columns: 1fr 10fr;
}

header img {
    grid-column-start: 1;
    grid-column-end: 2;
}

header nav {
    grid-column-start: 4;
}

nav a {
    color: black;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
}

nav a:hover {
    border-top: 1px solid #0065fc;
    padding-top: 15px;
    color:  #0065fc;
}

ul li:hover:nth-child(3) {
    font-weight: bolder;
}

    /* ---search & filter part--- */

#search  {
    grid-row-start: search;
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
}

#searchbar > ul li {
    display: inline-block;
    /* width: auto; */
}

#filter {
    display: grid;
    grid-template-columns: 70px auto;
    grid-template-rows: 1fr 1fr;
    width: 65%;
}

/*-----------------------------------screen < 13"------------------------------------ */
@media only screen and (min-width: 380px) and (max-width :1100px) {
    
    #filter {
        display: grid;
        grid-template-columns: 600px;
        grid-template-rows: 50px 50px 50px .1fr;
        row-gap: 10px;
        margin-top: 17.5px;
    }

    #filter h3 {
        position: absolute;
        top: 155px;
    }

    #filter ul {
        margin-left: 45px;
    }

    #filter li:nth-child(4){
        grid-row: 4;
    }  

    #infopoint > ul {
        display: grid;
        grid-template-columns: 1fr auto;
        column-gap: 5px;
        position: absolute;
        /* bottom: 100px; */
        left: -4%;
    }

}



#infopoint > ul {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 5px;
    position: absolute;
    bottom: 2.5%;
    left: -4%;
}

#infopoint > ul li:nth-child(2) {
   align-self: center;
    
}

    /* ---location part--- */

#location {
    grid-row-start: location;
    grid-column-start: 2;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 2.6%;
}

#location > article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .1fr .5fr .5fr .5fr .1fr;
    width: 95%;
    padding: 0 5px 5px 0;
    background-color: #F2F2F2;
    border-radius: 10px;
}

@media only screen and (min-width: 376px) and (max-width: 1347px) {
    #location > article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .1fr repeat(3, 1fr) .1fr;
        max-width: 95%;
        padding: 0 5px 5px 0;
        row-gap: 10px;
        background-color: #F2F2F2;
        border-radius: 10px;
    }

    article > div:nth-child(1) {
        grid-row-start: 2;
        grid-column-start: 1;
    }

    article > div:nth-child(2) {
        grid-row-start: 2;
        grid-column-start: 2;
    }

    article > div:nth-child(3) {
        grid-row-start: 3;
        grid-column-start: 1;
    }

    article > div:nth-child(4) {
        grid-row-start: 3;
        grid-column-start: 2;
    }

    article > div:nth-child(5) {
        grid-row-start: 4;
        grid-column-start: 1;
    }

    article >  div:nth-child(6) {
        grid-row-start: 4;
        grid-column-start: 2;
    }

    #location > article > p {
        font-weight: bold;
        grid-row: 5;
        grid-column: 1 / span 3;
        bottom: 10px;
    }

    #location article h2 {
        grid-row: 1;
        grid-column: 1 / span 3;
        padding-left: 5px;
        margin-bottom: 20px;
    }

}

#location > article {
    padding-left: 20px;
}

#location article h2 {
    grid-row: 1;
    grid-column: 1 / span 3;
    padding-left: 12px;
    margin-bottom: 20px;
}

#location div {
    margin-bottom: 10px;
}


#location > article > p {
    font-weight: bold;
    grid-row: 5;
    grid-column: 1 / span 3;
}

#location > aside {
    grid-column: 2;
    display: grid;
    min-width: 50%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: .5fr 1fr 1fr 1fr;
    row-gap: 2%;
    background-color: #F2F2F2;
    border-radius: 10px;
}

#location aside h2 {
    grid-row: 1;
    grid-column: 2 / span 5;
}

#location > aside i {
    grid-row: 1;
    grid-column: 6 / span 2; 
    text-align: right;
    margin-top: 20px;
}

#location aside > div {
    grid-column: 2 / span 6;
    margin-top: -20px;
}

    /* ---activity part--- */

#activity {
    grid-row-start: activity;
    grid-column-start: 2;
    grid-column-end: 2;
    max-height: 600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40px repeat(13, 40px);
    column-gap: 40px;
    border-radius: 10px;
}

#activity > h2:nth-child(1) {
    grid-column:span 3;
    grid-row: 1;
    padding-left: 12px;
}

#activity > div:nth-child(2) {
    grid-column: 1;
    grid-row: 3 / 15;
}

#activity > div:nth-child(3) {
    grid-column: 2;
    grid-row: 3 / 10;
}

#activity > div:nth-child(4) {
    grid-column: 2;
    grid-row: 11 / 15;
}

#activity > div:nth-child(5) {
    grid-column: 3;
    grid-row: 3 / 15;
}

#activity > div:nth-child(6) {
    grid-column: 4;
    grid-row: 3 / 7;
}

#activity > div:nth-child(7) {
    grid-column: 4;
    grid-row: 8 / 15;
}

    /* ---footer part--- */

footer {
    grid-row-start: footer;
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 410px 410px auto;
    background-color: #F2F2F2;
    padding-left: 50px;
}

/* ---------------responsive screen------------- */

/* -----------screen > 13"--------------*/

@media screen and (min-width: 1564px) {
    #main {
        grid-template-rows: [header]150px [search]700px [location]auto [activity]auto [footer].01fr;
        row-gap: 3vw;
    }

    header img {
        width: 10vw;
    }

    header ul {
        font-size: 60px;
    }

    #searchbar h1, p {
        font-size: 60px;
    }
    
    #filter {
        display: grid;
        grid-template-columns: 150px auto;
        grid-template-rows: 1fr 1fr;
        width: 70%;
    }
    
    #infopoint > ul {
        display: grid;
        grid-template-columns: 1fr auto;
        column-gap: 5px;
    }
    
    #infopoint > ul li:nth-child(2) {
        align-self: center;
        font-size: 40px;
        padding-left: 5px;
    }
}

/*------------------Device == iphone 8----------------*/
@media only screen and (max-width : 375px) and (max-height : 667px) and (orientation : portrait) { 
        #main {
            display: grid;
            grid-template-rows: [header]100px [search]430px [location]2050px [activity]1300px [footer]485px;
            grid-template-columns: 375px;
            max-width: 375px;
            row-gap: 20px;
            margin-top: initial;
        }
        
        ul li {
            list-style: none;
        }
        
        a {
            text-decoration: none;
            cursor: pointer;
            color: inherit;
        }
            /* ---header part--- */
        
        header {
            grid-row-start: header;
            max-width: 375px;
            position: relative;
            z-index: 0;
        }

        header img {
            width: 140px;
            height: 100px;
            position: absolute;
            right: 220px;
            top: -20px;
            z-index: 1;
        }

        nav ul {
            display: grid;
            max-width: 325px;
            grid-template-columns: 182.5px 182.5px;
            grid-template-rows: 1fr 1fr;
            column-gap: 0px;
            row-gap: 10px;
            margin-left: -410px;
            margin-top: 30px;
            position: sticky;
            z-index: 0;
        }

        nav ul li:nth-child(1) {
            order: 2;
            grid-row-start: 2;
            grid-column-start: 1;
            font-size: 1.2em;
            border-bottom: 2px solid #F2F2F2;
            padding-left: inherit;
        }

        nav > ul li:hover:nth-child(1) {
            border-bottom: 2px solid #0065fc;
            color: #0065fc;
        }
        nav a:hover {
            border: hidden;
        }

        nav ul li:nth-child(2) {
            order: 3;
            grid-row-start: 2;
            grid-column-start: 2;
            font-size: 1.2em;
            border-bottom: 2px solid #F2F2F2;
            padding-bottom: 7.5px;
            padding-left: inherit;
        }

        nav > ul li:hover:nth-child(2){
            border-bottom: 2px solid #0065fc;
            border-top: none;
            color:  #0065fc;
        }

        nav ul li:nth-child(3) {
            order: 1;
            grid-row-start: 1;
            grid-column: 2;
            font-size: 1.2em;
            margin-right: 40px;
            justify-self: right; 
        }

        nav a:hover:nth-child(3){
            color: #0065fc;
            font-weight: bolder;
        }
        
        /* ---search & filter part--- */
        
        #search  {
            grid-row-start: search;
            grid-column: 1;
            margin-left: 20px;
            display: grid;
            grid-template-columns: 320px;
            grid-template-rows: 1fr 50px 1fr;
            max-width: 365px;
            position: relative;
        }
        
        #searchbar > ul li {
            display: inline-block;
            width: 60%;
        }
        
        #filter {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 25px 1fr 1fr 1fr;
            margin-top: -25px;
            max-width: 310px

        }

        #filter h3 {
            position: absolute;
            top: 145px;
            font-size: 1em;
        }
        
        #infopoint > ul {
            display: grid;
            grid-template-columns: 1fr auto;
            column-gap: 5px;
            position: absolute;
            height: 5px;
            height: 5px;
            bottom: 5%;
            left: -2%;
        }
        
        #infopoint > ul li:nth-child(2) {
           align-self: center;
        }
        
            /* ---location part--- */
        
        #location {
            grid-row-start: location;
            grid-column: 1;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            width: 375px;
            height: 560px;
        }
        
        #location > article {
            grid-row: 2;
            grid-column: 1;
            display: grid;
            grid-template-rows: 40px auto;
            grid-template-columns: 1fr;
            width: 340px;
            padding-left: unset;
            justify-items: center;
            row-gap: 20px;
            border: none;
            background: none;
        }
        
        #location article h2 {
            grid-row: 1;
            font-size: 1.5em;
            margin-left: -50px;
        }
        
        #location article div {
            grid-column: 1;
        }
        
        #location > article > p {
            font-weight: bold;
            grid-row: 8;
            grid-column: 1 / span 3;
            margin-left: -210px;
        }
        
        #location > aside {
            grid-row: 1;
            grid-column: 1;
            display: grid;
            max-width: 365px;
            height: 600px;
            grid-template-columns: repeat(10, 1fr);
            grid-template-rows: 88px repeat(3, .12fr);
            background-color: #F2F2F2;
            border-radius: 0px;
            padding-right: 10px;
            padding-left: 10px;
            position: relative;
        }
        
        #location aside h2 {
            grid-row: 1;
            grid-column: 2 / span 6;
            font-size: 1.2em;
            height: 20px;
            position: absolute;
            top: 5px;
        }
        
        #location > aside i {
            grid-row: 1;
            grid-column: 7 / span 2;
            height: min-content;
            text-align: right;
            margin-top: 30px;
        }
        
        #location aside > div {
            grid-column: 2 / span 8;
        }
        
            /* ---activity part--- */
        
        #activity {
            grid-row-start: activity;
            grid-column: 1;
            max-width: 315px;
            height: 600px;
            margin-left: 5px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 40px auto;
            row-gap: 15px;
            column-gap: 0;
            justify-items: center;
            border-radius: 10px;
            
        }
        
        #activity > h2:nth-child(1) {
            grid-column:span 3;
            grid-row: 1;
            font-size: 1.5em;
            justify-self: start;
            /* margin-left: -160px; */
        }
        
        #activity > div:nth-child(2) {
            grid-column: 1;
            grid-row: 2;
            
        }
        
        #activity > div:nth-child(3) {
            grid-column: 1;
            grid-row: 3;
        }
        
        #activity > div:nth-child(4) {
            grid-column: 1;
            grid-row: 4;
        }
        
        #activity > div:nth-child(5) {
            grid-column: 1;
            grid-row: 5;
        }
        
        #activity > div:nth-child(6) {
            grid-column: 1;
            grid-row: 6;
        }
        
        #activity > div:nth-child(7) {
            grid-column: 1;
            grid-row: 7;
        }
        
            /* ---footer part--- */
        
        footer {
            grid-row-start: footer;
            grid-column: 1;
            display: initial;
            width: 375px;
            padding-left: 0px;
            background-color: #F2F2F2;
        }

        footer div {
            max-width: 190px;
            padding-left: 20px;
        }
        
        footer > div h3 {
            font-size: 1.2em;
            padding-bottom: 5px;
            padding-top: 5px;
            max-width: 100px;
        }

        footer p {
            font-size: 1em;
            margin-top: 3px;
            max-width: 180px;
        }
    }

